<div class="top_menu">
<div class="container">
  <div class="row">
    <div class="col-lg-7">
      
    <div class="col-lg-5">
      
      <div class="float-right">
        <ul class="right_side">
          <li>
           <%=link_to 'sign up', new_user_registration_path %>
             
          </li>
          <li>
          <%=link_to 'login in', new_user_session_path%>
          </li>
          
        </ul>
      </div>

    </div>
  </div>
</div>
</div>