 <div class="top_menu">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            
          <div class="col-lg-5">
            
            <div class="float-right">
              <ul class="right_side">
                <li>
                  <%=link_to 'edit profile', edit_user_registration_path %>
                   
                </li>
                <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                </li>
                
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>

